/venv/
/.idea/
/csv/
/geccoDataset/
certs
__pycache__/
dependencies
/.venv/
/.vscode/
/.git/
availability/*.json
!availability/stratum-to-context.json
/example/code_systems_translations/*.json

/.commit
.commit

/example/code_systems_translations/*.json

# FSH
/fsh/*

local-onto-gen.sh
/.run

**/tmp
**/temp
**/testdata
**/docker_logs