antlr4-python3-runtime==4.13.2
attrs~=26.1.0
beautifulsoup4~=4.15.0
black==26.5.1
cachetools
docker~=7.1.0
fastjsonschema~=2.21.1
fhir.resources==8.3.0
flake8==7.3.0
isodate==0.7.2
json_source_map==1.0.5
jsonpath-ng~=1.8.0
jsonschema==4.26.0
lxml==6.1.1
networkx==3.6.1
psycopg2==2.9.12
pydantic~=2.13.3
pytest-cov==7.1.0
pytest-docker==3.2.5
pytest-env==1.6.0
pytest-httpserver==1.1.5
pytest-lazy-fixtures==1.4.0
pytest-xdist==3.8.0
pytest~=9.1.1
python-dotenv==1.2.2
pyyaml==6.0.3
requests==2.34.2
sortedcontainers==2.4.0
typing-extensions==4.16.0
urllib3~=2.7.0
semver~=3.0.4
