name: Build and run tests

on:
  push:
    branches:
      - '**'
    tags:
    - v[0-9]+.[0-9]+.[0-9]+**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate ontology files
        uses: ./.github/actions/generate-ontology
        with:
          project: "fdpg-ontology"
          term-server-url: ${{ secrets.FDPGPLUS_ONTO_SERVER_URL }}
          term-server-cert: ${{ secrets.FDPGPLUS_ONTO_SERVER_CERT }}
          term-server-key: ${{ secrets.FDPGPLUS_ONTO_SERVER_KEY }}

  generate_availability:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate Availability measures
        uses: ./.github/actions/availability
        with:
          tag: ${{ github.ref_name }}
          project: fdpg-ontology
          project-output: 'project-output'

  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs: [build, generate_availability]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download project output
        uses: actions/download-artifact@v4
        with:
          name: project-output
          path: projects/fdpg-ontology/output/

      - name: Download availability files
        uses: actions/download-artifact@v4
        with:
          name: availability_files
          path: projects/fdpg-ontology/output/availability

      - name: Collect DSE structure definition snapshots
        shell: bash
        run: zip -j projects/fdpg-ontology/output/data_selection_extraction/dse_structures.zip projects/fdpg-ontology/input/data_selection_extraction/snapshots/mii/*

      - name: Draft release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          generate_release_notes: true
          files: |
            projects/fdpg-ontology/output/merged_ontology/elastic.zip
            projects/fdpg-ontology/output/merged_ontology/backend.zip
            projects/fdpg-ontology/output/merged_ontology/mapping.zip
            projects/fdpg-ontology/output/availability/availability.zip
            projects/fdpg-ontology/output/data_selection_extraction/dse_structures.zip